<input type="text"
  value={{text}}
  class="ember-power-select-typeahead-input"
  oninput={{action "handleInputLocal"}}
  onfocus={{action handleFocus}}
  onkeydown={{action "handleKeydown"}}
  onmousedown={{action "stopPropagation"}}>
{{#if loading}}
  <span class="ember-power-select-typeahead-loading-indicator"></span>
{{/if}}
