<input type="search"
  value={{this.text}}
  role="combobox"
  id="ember-power-select-typeahead-input-{{this.select.uniqueId}}"
  class="ember-power-select-typeahead-input ember-power-select-search-input"
  autocomplete="off"
  autocorrect="off"
  autocapitalize="off"
  spellcheck="false"
  placeholder={{@placeholder}}
  oninput={{@onInput}}
  onfocus={{@onFocus}}
  onblur={{@onBlur}}
  disabled={{this.select.disabled}}
  onkeydown={{action "handleKeydown"}}
  onmousedown={{action "stopPropagation"}}>
{{#if this.select.loading}}
  <span class="ember-power-select-typeahead-loading-indicator"></span>
{{/if}}
