<input type="text"
  value={{if extra.labelPath (get selected extra.labelPath) selected}}
  class="ember-power-select-typeahead-input"
  oninput={{action handleInput}}
  onfocus={{action handleFocus}}
  onkeydown={{action "handleKeydown"}}
  onmousedown={{action "stopPropagation"}}>
{{#if loading}}
  <span class="ember-power-select-typeahead-loading-indicator"></span>
{{/if}}
