<input type="search"
  value={{text}}
  id="ember-power-select-typeahead-input-{{select.uniqueId}}"
  class="ember-power-select-typeahead-input ember-power-select-search-input"
  placeholder={{placeholder}}
  oninput={{onInput}}
  onfocus={{onFocus}}
  onkeydown={{action "handleKeydown"}}
  onmousedown={{action "stopPropagation"}}>
{{#if select.loading}}
  <span class="ember-power-select-typeahead-loading-indicator"></span>
{{/if}}
