<h2 id="title">Welcome to Ember</h2>
<p>
  <input type="text" placeholder="Tab target">
</p>

<PowerSelectTypeahead
  @search={{this.searchUsersAsync}}
  @selected={{this.user}}
  @onChange={{fn (mut this.user)}}
  @extra={{hash labelPath="name"}} as |user|>
  {{user.name}}
</PowerSelectTypeahead>

<p>
  User is: {{this.user.name}}
</p>

<h3>Typeahead with minimum search length set to 3 chars</h3>

<PowerSelectTypeahead
  @search={{this.searchUsersAsync}}
  @selected={{this.user2}}
  @onInput={{this.skipShortSearches}}
  @onChange={{fn (mut this.user2)}}
  @extra={{hash labelPath="name"}} as |user|>
  {{user.name}}
</PowerSelectTypeahead>

<h3>Typeahead with non-async search</h3>

<PowerSelectTypeahead
  @selected={{this.user3}}
  @options={{this.users}}
  @searchField="name"
  @onChange={{fn (mut this.user3)}}
  @extra={{hash labelPath="name"}} as |user|>
  {{user.name}}
</PowerSelectTypeahead>

