{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>
<p>
  <input type="text" placeholder="Tab target">
</p>

{{!-- {{#power-select search=(action 'search') tabindex=-1 selected=selected onchange=(action (mut selected))
  selectedComponent='power-select-typeahead/selected' searchEnabled=false as |number|}}
  {{number}}
{{/power-select}}

<p>
  <input type="text" placeholder="Tab target 2">
</p>

{{#power-select search=(action 'searchAsync') tabindex=-1 selected=selected onchange=(action (mut selected))
  selectedComponent='power-select-typeahead/selected' loadingMessage=false searchEnabled=false as |number|}}
  {{number}}
{{/power-select}} --}}

{{!-- {{#power-select-typeahead search=(action 'searchAsync') selected=selected onchange=(action (mut selected)) as |number|}}
  {{number}}
{{/power-select-typeahead}}
 --}}

<PowerSelectTypeahead
  @search={{action 'searchUsersAsync'}}
  @selected={{this.user}}
  @onChange={{action (mut this.user)}}
  @extra={{hash labelPath="name"}} as |user|>
  {{user.name}}
</PowerSelectTypeahead>

<p>
  User is: {{this.user.name}}
</p>

<h3>Typeahead with minimum search length set to 3 chars</h3>

<PowerSelectTypeahead
  @search={{action 'searchUsersAsync'}}
  @selected={{this.user2}}
  @onInput={{action "skipShortSearches"}}
  @onChange={{action (mut this.user2)}}
  @extra={{hash labelPath="name"}} as |user|>
  {{user.name}}
</PowerSelectTypeahead>

<h3>Typeahead with non-async search</h3>

<PowerSelectTypeahead
  @selected={{this.user3}}
  @options={{this.users}}
  @searchField="name"
  @onChange={{action (mut this.user3)}}
  @extra={{hash labelPath="name"}} as |user|>
  {{user.name}}
</PowerSelectTypeahead>

